.home-container {
  background-image: linear-gradient(to bottom, #09203f 0%, #537895 100%);
  height: 100vh;
}

.home-content {
}

.home-content .home-text {
  width: 40%;
  /* align-self:center; */
}

.down-icon {
  position: absolute;
  top: 90%;
  left: 50%;
}
.down-icon a {
  font-size: 22px;
  color: white;
}
.down-icon a i:hover {
  transform: translateY(5px);
  transition: transform 1s;
}
