.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 20px;
  background-color: lightyellow;
  padding: 18px;
}

.link {
  margin: 20px;
  text-decoration: none;
  color: gray;
}

.link:hover {
  color: darkgrey;
}

.selectedlink {
  background-color: #333;
  color: white;
}
